body {
    background-color: black;
}

.list-item {
    background-color: black;
    color: green;
}

.title {
    color: green;
    background-color: black;
    text-align: center;
}

.font {
    font-family: Monaco, "Courier New", sans-serif;
}