body {
    background-color: black;
}

.list-item {
    background-color: black;
    color: green;
}

.title {
    color: green;
    background-color: black;
}

.font
.align {
    font-family: Monaco, "Courier New", sans-serif;
}